<a href="<?php echo $this->baseUrl();?>/posts/index/add" class="btn btn-primary">Adicionar</a>
<table class="table table-striped table-hover">
	<thead>
	<tr>
		<th>Autor</th>
		<th>Acoes</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach($this->posts as $row):?>
	<tr>
		<td><a href="<?php echo $this->baseUrl();?>/posts/index/view/id/<?php echo $row['_id'];?>"><?php echo $row['author']; ?></a></td>
		<td><a href="<?php echo $this->baseUrl();?>/posts/index/update/id/<?php echo $row['_id']; ?>" class="btn btn-primary">Editar</a><a href="<?php echo $this->baseUrl();?>/posts/index/remove/id/<?php echo $row['_id'];?>" class="btn btn-danger">Deletar</a></td>
	</tr>
	<?php endforeach; ?>
	</tbody>
</table>
