<?php foreach($this->post as $id => $value): ?>
	<li><?php echo $id; ?></li>
	<li><?php echo $value['author']; ?></li>
	<li><?php echo $value['title']; ?></li>
	<li><?php echo $value['body']; ?></li>
	<hr>
<?php endforeach; ?>
