<!DOCTYPE html>
<html>
	<head>
		<title>Mini - Blog</title>
		<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/public/css/bootstrap.css">
		<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/public/css/bootstrap-responsive.css">
		<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/public/css/estilo.css">
	</head>
	<body>
		<div class="container">
			<?php echo $this->layout()->content; ?>
		</div>
	</body>
</html>
